<main>
  <h1 class="title">Programming Challenge</h1>
  <div ng-repeat="(key, value) in app.groupedBy">
    {{key}}
      <div ng-repeat="cat in value | orderBy: 'name'">
        <ul>
          <li>
            {{cat.name}}
          </li>
        </ul>
      </div>
  </div>
</main>
<footer>
  <a>AGL Code Test 2017</a>
</footer>
