/* styles in src/style directory are applied to the whole page */
body {

}

a {
  color: #03A9F4;
}

ul {
  margin: 0 35px;
  padding: 0;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}
